POSTGRES_DB=
""" указать имя БД PostgeSQL"""

POSTGRES_USER=
"""имя пользователя для работы с БД"""

POSTGRES_PASSWORD=
""" указать пароль пользователя для работы с БД"""

POSTGRES_HOST=
"""указать хост на котором работает СУБД, например localhost"""

POSTGRES_PORT=
"""указать порт на котором работает СУБД, например 4444"""

POSTGRES_INITDB_ARGS=
""" указать параметры БД, например: --locale=ru_RU.UTF-8 --encoding=UTF-8"""
